{% load static %}
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="ru"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Regular.woff' %}" as='font'>
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
    {% block link %}
    {% endblock link %}
    {% block script %}
    {% endblock script %}
    <script src="{% static 'plg/CountDown/countdown.js' %}"></script><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="Site">
    <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
    <header class="Header">
        <div class="ControlPanel">
            <div class="wrap">
              <div class="row ControlPanel-row">
                <div class="row-block">
                  <div class="row ControlPanel-rowSplit">
                    <div class="row-block"><a class="ControlPanel-title" href="#">Free Delivery</a>
                    </div>
                    <div class="row-block hide_700"><span class="ControlPanel-title">Follow Us</span>
                      <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                        <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <nav class="row-block">
                  <div class="row ControlPanel-rowSplit">
                    <div class="row-block">
                        {% if request.user.is_authenticated %}
                            <a class="ControlPanel-title" href="#">Личный кабинет</a>
                            <span style="color:#777;padding: 0 2px;font-size: 13px;line-height: 1.2em;letter-spacing: 1.3px;"> / </span>
                            <a class="ControlPanel-title" href="{% url 'logout' %}">Выход</a>
                        {% else %}
                            <a class="ControlPanel-title" href="{% url 'authorization' %}">Login / Register</a>
                        {% endif %}
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <!--+div.menuModal#navigate
            //    +menu([
            //        ['Главная','index.html'],
            //        ['Портфолио','index.html'],
            //        ['Мои проекты','index.html'],
            //        ['Контакты','index.html']
            //    ], page === 'article'? 'Портфолио': 'Главная')._main
            
            block
            -->
          </div>
          <div class="wrap">
            <div class="row Header-rowMain">
              <div class="row-block Header-logo"><a class="logo" href="{% url 'main' %}"><img class="logo-image" src="{% static '/img/logo.png' %}" alt="logo.png"/></a>
              </div>
              <nav class="row-block row-block_right Header-menu">
                <div class="menuModal" id="navigate">
                  <ul class="menu menu_main">
                    <li class="menu-item"><a class="menu-link" href="{% url 'main' %}">Home</a>
                    </li>
      
                    <li class="menu-item"><a class="menu-link" href="#">Blog</a>
                    </li>
                    <li class="menu-item"><span class="menu-label menu-label_success">Hot</span><a class="menu-link" href="#">Gallery</a>
                    </li>
      
                    <li class="menu-item"><a class="menu-link" href="#">Purchase</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <div class="row-block">
                <div class="CartBlock"><a class="CartBlock-block" href="#"><img class="CartBlock-img" src="{% static '/img/icons/cart.svg' %}" alt="cart.svg"/><span class="CartBlock-amount">0</span></a>
                  <div class="CartBlock-block"><span class="CartBlock-price">0.00$</span>
                  </div>
                </div>
              </div>
              <div class="row-block Header-trigger"><a class="#" href="#navigate">
                  <div class="menuTrigger-content">Показать навигацию
                  </div><span></span><span></span><span></span></a>
              </div>
            </div>
          </div>
          <div class="Header-searchWrap">
            <div class="wrap">
              <div class="Header-categories">
                <div class="CategoriesButton">
                  <div class="CategoriesButton-title">
                    <div class="CategoriesButton-icon"><img src="{% static '/img/icons/allDep.svg' %}" alt="allDep.svg"/>
                    </div><span class="CategoriesButton-text">All Departments</span>
                    <div class="CategoriesButton-arrow">
                    </div>
                  </div>
                  <div class="CategoriesButton-content">
                    {% for category in categories %}
                    <div class="CategoriesButton-link">
                      <a href="#">
                        <div class="CategoriesButton-icon"><img src="{{category.icon.url}}" alt="4.svg"/></div>
                        <span class="CategoriesButton-text">{{category.name}}</span>
                      </a>
                      {% if category.subcategory_set.count != 0 %}
                        <a class="CategoriesButton-arrow" href="#"></a>
                      {% endif %}
                      <div class="CategoriesButton-submenu">
                        
                        {% for subcategory in category.subcategory_set.all %}
                          <a class="CategoriesButton-link" href="#">
                            <div class="CategoriesButton-icon">
                                <img src="{{subcategory.icon.url}}" alt="1.svg"/>
                            </div>
                            <span class="CategoriesButton-text">{{subcategory.name}}</span>
                          </a>
                        {% endfor %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="Header-searchLink"><img src="{% static '/img/icons/search.svg' %}" alt="search.svg"/>
              </div>
              <div class="Header-search">
                <div class="search">
                  <form class="form form_search" action="#" method="post">
                    <input class="search-input" id="query" name="query" type="text" placeholder="What are you looking for ..."/>
                    <button class="search-button" type="submit" name="search" id="search"><img src="{% static '/img/icons/search.svg' %}" alt="search.svg"/>Search
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </header>
    <section class="main">
        {% block main %}
        {% endblock main %}
    </section>
    <footer class="Footer">
        <div class="wrap">
          <div class="row Footer-main">
            <div class="row-block"><a class="logo Footer-logo" href="{% url 'main' %}"><img class="logo-image" src="{% static '/img/logo_footer.png' %}" alt="logo_footer.png"/></a>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid  unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
              </p>
              <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialFooter/fb.svg' %}" alt="fb.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialFooter/tw.svg' %}" alt="tw.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialFooter/in.svg' %}" alt="in.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/></a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static '/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/></a>
                </li>
              </ul>
            </div>
            <div class="row-block">
              <strong class="Footer-title">Useful Links
              </strong>
              <ul class="menu menu_vt Footer-menu">
                <li class="menu-item"><a class="menu-link" href="#">Checkout</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">My Cart</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Delivery</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Order Info</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Terms</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Conditions</a>
                </li>
              </ul>
            </div>
            <div class="row-block">
              <strong class="Footer-title">My Account
              </strong>
              <ul class="menu menu_vt Footer-menu">
                <li class="menu-item"><a class="menu-link" href="#">Accessories</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Bags</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Cameras</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Clothings</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Electronics</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#">Fashion</a>
                </li>
              </ul>
            </div>
            <div class="row-block">
              <strong class="Footer-title">Contacts
              </strong>
              <p>Phone: 8.800.200.600<br>Email: Support@ninzio.com<br>Skype: techno<br>Address: New York, north<br>Avenue 26/7<br>0057
              </p>
            </div>
          </div>
        </div>
        <div class="Footer-copy">
          <div class="wrap">
            <div class="row row_space">
              <div class="row-block">© Copyright&#32;<a href="{% url 'main' %}">Megano Store.</a>&#32;All rights reserved.
              </div>
              <div class="row-block"><span>Accepted Payments</span>
                <div class="Footer-payments">
                  <div><img src="{% static '/img/payments/visa.png' %}" alt="visa.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/mastercard.png' %}" alt="mastercard.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/paypal.png' %}" alt="paypal.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/american.png' %}" alt="american.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/electron.png' %}" alt="electron.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/maestro.png' %}" alt="maestro.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/delta.png' %}" alt="delta.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/e.png' %}" alt="e.png"/>
                  </div>
                  <div><img src="{% static '/img/payments/dk.png' %}" alt="dk.png"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script src="{% static '/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
      <script src="{% static '/plg/range/ion.rangeSlider.min.js' %}"></script>
      <script src="{% static '/plg/Slider/slick.min.js' %}"></script>
      <script src="{% static '/js/scripts.js' %}"></script>
</body>
</html>