{% extends "app_megano/base.html" %}
{% load static %}
{% load i18n %}
{% block title%}{% trans 'Megano' %}{% endblock title %}
{% block main %}
<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <form method="get">
                {% csrf_token %}
                {{filter.form.as_p}}
                <input type="submit" />
            </form>
            {% for obj in filter.qs %}
                {{ obj.name }} - ${{ obj.price }}<br />
            {% endfor %}
            <div class="Section-content">
                <div class="Cards">
                    {% for product in products%}
                        <div class="Card"><a class="Card-picture" href="#"><img src="{{product.photo_set.first.photo.url}}" alt="card.jpg"/></a>
                            <div class="Card-content">
                            <strong class="Card-title"><a href="product.html">{{product.name}}</a>
                            </strong>
                            <div class="Card-description">
                                <div class="Card-cost"><span class="Card-price">{{product.price}}</span></div>
                                <div class="Card-category">
                                    {{product.category.name}}
                                </div>
                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="{% static '/img/icons/card/cart.svg' %}" alt="cart.svg"/></a></div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}