{% extends "app_megano/base.html" %}
{% load static %}
{% load i18n %}
{% block title%}{% trans 'Login' %}{% endblock title %}
{% block main %}
    <form class = "authorization_form"action="{% url 'authorization' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class = "btn btn-login" type="submit">{% trans "Войти" %}</button>
        <a class = "authorization__link" href="{% url 'registration' %}">Регистрация</a>
    </form>
{% endblock main %}