{% extends "app_megano/base.html" %}
{% load static %}
{% load i18n %}
{% block title%}{% trans 'Registration' %}{% endblock title %}
{% block main %}
    <form class = "registration_form"action="{% url 'registration' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class = "btn btn-registration" type="submit">{% trans "Регистрация" %}</button>
    </form>
{% endblock main %}